---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeroImage from "../components/HeroImage.astro";
import dayjs from "dayjs";
export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    posterImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage, posterImage },
} = Astro.props;
const date = dayjs(pubDate).format("YYYY, MMM DD");
---

<html lang="en">
  <head>
    <script is:inline src="https://kit.fontawesome.com/afa8e0f95c.js" crossorigin="anonymous"></script>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <canvas class="orb-canvas"></canvas>
    <Header />
    <HeroImage image={heroImage}/>
    <main> 
      <article>
        <h1 class="title">{title}</h1>
        <div class="article-date">
          {date
            && (
            <time>{date}</time>
           )
         }
        </div>
       
        {
          updatedDate && (
            <article-date>
              Last updated on <time>{updatedDate}</time>
            </article-date>
          )
        }
        <div>
          {
            posterImage && (
              <div class="poster-image">
                <img src={posterImage} style="height: 300px" alt={title} />
              </div>
            )
          }
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
